<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <h1>Esto es el blog</h1>
    <h1><a href="{% url 'Create'%}">Crear Blog</a></h1>

    <table border="2">
        <thead>
            <tr>
                <th>Titulo del blog</th>
                <th>Contenido del blog</th>
                <th colspan="2">Edicion</th>
            </tr>
        </thead>
    <tbody>
        {% for post in object_list %}
        <tr>
            <td>{{post.titulo}}</td>
            <td>{{post.contenido}}</td>
            <!--<td><a href="{% url 'Editar' post.id %}">Editar</a></td>-->
            <td><button onclick="location.href='{% url "Editar" post.id %}'">Editar</button></td>
            <td><button onclick="location.href='{% url "Eliminar" post.id %}'">Eliminar</button></td>
            <!--<td><button hrfe="">Eliminar</button></td>-->
        </tr>          
        {% endfor %}
    </tbody>
    </table>

</body>
</html>